<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Search</title>
</head>

<body>
    <a href="/new">Add New Mobile</a><a href="/search">Search a Mobile</a>
</body>

</html>