<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mobile Search</title>
</head>

<body>
    Add New Mobile <a href="/new">here</a><br>
    Search a Mobile <a href="/search">here</a>
</body>

</html>