<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add New</title>
</head>

<body>
    <% if(status != null) if(status){ %>
    <p style="color: green;">Success</p>
    <% }else{%>
    <p style="color: red;">Failed</p>
    <% } %>
    <a href="/">Home</a><br><br>
    <b>Add New Product</b><br><br>
    <form action="/new" method="post" id="newForm">
        <input type="text" name="name" placeholder="Product Name" /><br>
        <input type="text" name="type" placeholder="Product Type" /><br>
        <input type="text" name="weight" placeholder="Weight" /><br>
        <input type="text" name="price" placeholder="Price" /><br>
        <input type="text" name="color" placeholder="Color" /><br><br>
        <div id="features">
            <input type="button" value="Add New Feature" id="addNewButton" />
        </div><br>
        <input type="submit" value="Save" />
    </form>
</body>
<script src="js/script.js"></script>

</html>